[Unit]
Description=BamOS Cache Clean
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/bamos/bamos-cache-clean
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
